@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
    background: #88c1ad;
    font-family: 'Poppins', sans-serif;


}

.error {
    color: red;
    z-index: 1;
    background-color: #88c1ad;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 80px;

    img {
        position: absolute;

    }

    ;

    .form {
        background: #6ea37d;

        max-width: 1200px;
        min-width: 500px;
        height: 500px;
        display: flex;
        align-items: center;
        flex-direction: column;

        border-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0.7);
        padding: 0 20px 20px;
        z-index: 1;


        h1 {
            text-align: center;
            padding: 0 40px;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1px black;
            font-size: 40px;
            margin: 100px;
            z-index: 1;
        }

        input {
            width: 300px;
            height: 30px;
            border-radius: 15px;
            margin-bottom: 20px;
            margin-top: 10px;
            text-indent: 20px;
            font-size: 14px;
            z-index: 1;

        }

        button {
            margin: 20px 0;
            width: 150px;
            height: 50px;
            font-size: 16px;
            height: 30px;
            border-radius: 15px;
            cursor: pointer;
            z-index: 1;

        }
    }
}